/* General */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer{
    background-color: darkgray;
}

nav {
    background-color: #E63946;
}

.nav-wrapper {
    background-color: darkred;
    align-items: center;
}

.nav-wrapper > a {
    color: gold;

}

html {
    background-color: #f1faee;
}

.container{
    width: 100%;
}

.hero-container {
    background-image: url( ../images/hero.png );
    background-color: #1f3759;
    width: 100%;  
    background-size: cover;
    background-position: center;
    display: flex;
    height: 375px;
}

@media screen and (min-width:992px){
    .hero-container{
        height:750px;
    }
}


/* Character page specific */

.chSelect {
    display:flex;
}

.fa-plus-circle {
    display:flex;
    width:400%;
    height: 75px;
    color:darkgray;
    font-size: 84px;
}

.chshow {
    border: 1,solid,black;
}

.card {
    margin: 0, auto;
    height: 500px;
}

li > a {
    width: 100%
}

.chSelect {
    height: 275px;
    margin-top:50px;
    background-color: #457b9d
}

.pagination > li {
    padding-left: 30px;
    padding-right: 30px;
}

.pagination > li:first-of-type {
    margin-left: 55px
}

.card > .row {
    margin-left: 30px;
}

.hidden {
    display: none;
}