/* General definitions */

:root {
    --contrast-color-1: #7cbec0;
    --contrast-color-2: #003049;
    --contrast-color-3: #d62828;
    --main-color-dark:  #cd7415;
    --main-color-medium:#f77f00;
    --main-color-bright:#fcbf49;
    --main-color-bg:    #EAe2b7;
}

/* Modals */

.modal-field {
    display:inline-block;
}

.modal > form, .modal > h2, .modal > p {
    padding:50px;
    padding-bottom:10px;
}


/* base.html */
body {
    margin-bottom: 150px;
}
.page-footer, main:after {
    background-color: var(--main-color-bright);
}

footer{
    position:fixed;
    bottom:0;
    left: 0;
    right:0;
}

.footer-copyright {
    background-color: var(--main-color-dark)
}

nav {
    background-color: var(--main-color-bright);
}

.nav-wrapper {
    background-color: var(--main-color-dark);
    align-items: center;
}

.nav-wrapper > a {
    color: var(--contrast-color-2);
}

.tabs.tabs-transparent .tab a {
    color: var(--contrast-color-2) !important;
}

html {
    background-color: var(--main-color-bg);
    height:100%;
}

.container{
    width: 100%;
    margin-top:40px;
}

/* index.html */

.hero-container {
    background-image: url( ../images/hero.png );
    background-color: var(--contrast-color-2);
    width: 100%;  
    background-size: cover;
    background-position: center;
    display: flex;
    height: 375px;
}

@media screen and (min-width:992px){
    .hero-container{
        height:750px;
    }
}


/* character.html */

#stats {
    display:inline-block;
}

.new-char {
    display:inline-block;
    width:100%;
    margin: auto;
    padding-top: 80px;
}

.char-icon {
    position: relative;
    width: 260px;
    height: 260px;
}

.ch-card {
    max-height: 260px;
}

.fa-plus-circle {
    color:darkgray;
    font-size: 84px;
}

.ch-show {
    border: 1,solid,black;
}

.card {
    margin-top: 0px;   
    height: 500px;
    background-color: var(--contrast-color-1);
}

.card > h3, .card > div > h3, .card > div > h4 {
    margin-top: 0px;
}

li > a {
    width: 100%
}

.chSelect {
    height: 275px;
    margin-top:50px;
    background-color: var(--contrast-color-3)
}

.pagination > li {
    padding-left: 30px;
    padding-right: 30px;
}

.pagination > li:first-of-type {
    margin-left: 55px
}

.card > .row {
    margin-left: 30px;
}

.hidden {
    display: none;
}

.card-title {
    background-color: var(--contrast-color-1);
    padding: 10px !important;
}

.char-link {
    width: 261px;
    height: 250px;
    display: block
}

/* Leaderboard.html */

#top-10 {
    text-align: center;
    margin: 1em;
}

td > img {
    max-width: 65px;
    max-height: 65px;
}

.leaderboard-dots {
    margin: auto;
    width: auto;
    text-align: center;
    font-size: 28px;
}

.user-character {
    background-color: var(--contrast-color-1)
}

#first-place{
    background-color: gold;
}

#second-place{
    background-color: silver;
}

#third-place{
    background-color: rgb(143, 66, 21);
}

table {
    background-color: #eeebe3;
    font-size: 18px;
}

/* profile.html */

#user-settings {
    margin-top:50px;
    display:block;
    margin-left:15%;
    margin-right:15%;
    clear:both;
}

.btn-profile {
    display: block;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width:50%;
    align-content: center;
}

.hr-profile {
    border-top: 1px #36454f solid;
    margin: 20px;
}

.btn {
    background-color: var(--contrast-color-1);
    color: #003039
}

.delete-button {
    background-color: var(--contrast-color-3);
}

/* about.html */

.about-page h4, .about-page h2 {
    margin-bottom: 0;
}

.indent {
    text-indent: 30px;
}

.hr-about{
    border-top: 1px #36454f solid;
    width: 80px;
    display: inline-block;
    margin: 0;
    padding: 0;
}

/* library.html
Thanks to https://www.w3schools.com/howto/howto_js_vertical_tabs.asp for the code adapted here */

.scrollable {
    height: 71vh;
    overflow-y: auto;
}

.library-container {
    height:120vh;
}

.tab-library {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
    position:fixed;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab-library button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab-library button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab-library button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 100%;
  }
