{% extends "base.html" %}
{% block content %}
{% if charactername.owner %}
    <h3 class="center-align light-blue-text text-darken-4">
        {{ charactername.name|capitalize }}
    </h3> 
    <div class="row center-align">
        <img src="{{ url_for('static', filename = charactername.icon) }}" alt="">
    </div>
    <section id="stats">
        <!-- Private information -->

        {% if session.user == charactername.owner %}
        <div class="row">
            <div class="col m2">
                <h4>Hit points:</h4><p>{{ charactername.max_hp }}</p>
            </div>
            <div class="col m2">
                <h4>Energy</h4><p>{{ charactername.max_energy }}</p>
            </div>
            <div class="col m2">
                <h4>Armor:</h4><p>{{ charactername.ac }}</p>
            </div>
            <div class="col m2">
                <h4>Dodge chance:</h4><p>{{ charactername.dodge }}%</p>
            </div>
            <div class="col m2">
                <h4>Block chance:</h4><p>{{ charactername.block }}%</p>
            </div>
            <div class="col m2">
                <h4>Parry chance:</h4><p>{{ charactername.parry }}%</p>
            </div>
        </div>
        <div class="row">
            <div class="col m2">
                <h4>Available Experience: </h4><p>{{ charactername.current_exp }}</p>
            </div>
        </div>
        {% endif %}
        <!-- Public information -->
        <div class="row">
            <div class="col m6">
                <h4>Experience spent:</h4><p>{{ charactername.spent_exp }}</p>
            </div>
            <div class="col m6">
                <h4>Win/Loss:</h4><p>{{ charactername.winloss }}</p>
            </div>
        </div>
    </section>
    {% if session.user == charactername.owner %}
    <div class="row">
        <div class="body-image col s12 m6">
            <div class="torso">
                <img src="../static/images/training-torso.png" alt="">
            </div>
            <div class="arms hidden">
                <img src="../static/images/training-arms.png" alt="">
            </div>
            <div class="legs hidden">
                <img src="../static/images/training-legs.png" alt="">
            </div>
            <div class="hands hidden">
                <img src="../static/images/training-fist.png" alt="">
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <h3 class="center-align">Body Training</h3>
                <ul class="pagination">
                    <li class="active" id="train-card-1"><a href="#!" onclick="moveActive(event)">Torso</a></li>
                    <li class="waves-effect" id="train-card-2"><a href="#!" onclick="moveActive(event)">Arms</a></li>
                    <li class="waves-effect" id="train-card-3"><a href="#!" onclick="moveActive(event)">Hands</a></li>
                    <li class="waves-effect" id="train-card-4"><a href="#!" onclick="moveActive(event)">Legs</a></li>
                </ul>

                <!-- torso tab -->
                <div class="row torso">
                    <h3>Torso Training</h3>
                    <p>The inward fist's core can be rigorously trained and is key to withstanding attacks.</p>
                    <div class="card-action" id="action-torso">
                        <h5>Current level: {{ charactername.torso }}</h5>
                        <h5>Cost for next level:<span id="cost-torso"></span></h4>
                        <a class="btn-floating btn-large waves-effect waves-light red" id="train-torso"><i class="material-icons">add</i></a>
                        <h5>
                            <form method="POST">
                                <span id="field-torso">0</span>
                                <input type="text" class="hidden" name="flask-torso" id="flask-torso">                               
                                <button class="btn waves-effect waves-light" type="submit" name="form-name" value="torso">Train
                                    <i class="material-icons right"></i>
                                </button>
                            </form>
                            <span id="max-torso"></span>
                        </h5>
                        <h5>Total cost: <span id="total-torso">0</span></h5>
                    </div>
                </div>

                <!-- Hands tab -->
                <div class="row hands hidden">
                    <h3>Hands Training</h3>
                    <p>The Inward Fist can train their hands to harden them, increasing the damage they can inflict.</p>
                    <div class="card-action" id="action-hands">
                        <h5>Current level: {{ charactername.hands }}</h5>
                        <h5>Cost for next level:<span id="cost-hands"></span></h4>
                        <a class="btn-floating btn-large waves-effect waves-light red" id="train-hands"><i class="material-icons">add</i></a>
                        <h5>
                            <form method="POST">
                                <span id="field-hands">0</span>
                                <input type="text" class="hidden" name="flask-hands" id="flask-hands">                               
                                <button class="btn waves-effect waves-light" type="submit" name="form-name" value="hands">Train
                                    <i class="material-icons right"></i>
                                </button>
                            </form>
                            <span id="max-hands"></span>
                        </h5>
                        <h5>Total cost: <span id="total-hands">0</span></h5>
                    </div>
                </div>

                <!-- Legs tab -->
                <div class="row legs hidden">
                    <h3>Legs Training</h3>
                    <p>The inward fist's legs and feet can be trained for speed and power, increasing the power of their kicks.</p>
                    <div class="card-action" id="action-legs">
                        <h5>Current level: {{ charactername.legs }}</h5>
                        <h5>Cost for next level:<span id="cost-legs"></span></h4>
                        <a class="btn-floating btn-large waves-effect waves-light red" id="train-legs"><i class="material-icons">add</i></a>
                        <h5>
                            <form method="POST">
                                <span id="field-legs">0</span>
                                <input type="text" class="hidden" name="flask-legs" id="flask-legs">                               
                                <button class="btn waves-effect waves-light" type="submit" name="form-name" value="legs">Train
                                    <i class="material-icons right"></i>
                                </button>
                            </form>
                            <span id="max-legs"></span>
                        </h5>
                        <h5>Total cost: <span id="total-legs">0</span></h5>
                    </div>
                </div>

                <!-- arms tab -->
                <div class="row arms hidden">
                    <h3>Arms Training</h3>
                    <p>The inward fist's arms can be trained for speed and power, allowing them to block attacks with increased alacrity.</p>
                    <div class="card-action" id="action-arms">
                        <h5>Current level: {{ charactername.arms }}</h5>
                        <h5>Cost for next level:<span id="cost-arms"></span></h4>
                        <a class="btn-floating btn-large waves-effect waves-light red" id="train-arms"><i class="material-icons">add</i></a>
                        <h5>
                            <form method="POST">
                                <span id="field-arms">0</span>
                                <input type="text" class="hidden" name="flask-arms" id="flask-arms">                               
                                <button class="btn waves-effect waves-light" type="submit" name="form-name" value="arms">Train
                                    <i class="material-icons right"></i>
                                </button>
                            </form>
                            <span id="max-arms"></span>
                        </h5>
                        <h5>Total cost: <span id="total-arms">0</span></h5>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card">
                <div class="row">
                    <h3>Disciplines</h3>
                    <p>
                        Through disciplining the mind and body, the inward fist gains access to specialized powers.
                        Disciplines must be gained in order through training the ten levels.
                    </p>
                    <label for="disc-bar"></label>
                    <progress id="disc-bar" value="{{ charactername.discipline }}" max="10" style="width:90%;"></progress>
                    
                </div>
                <ul class="pagination">
                    <li class="active" id="train-card-1"><a href="#!" onclick="moveActive(event)">Truesight</a></li>
                    <li class="waves-effect" id="train-card-2"><a href="#!" onclick="moveActive(event)">Levitation</a></li>
                    <li class="waves-effect" id="train-card-3"><a href="#!" onclick="moveActive(event)">Roundhouse</a></li>
                    <li class="waves-effect" id="train-card-4"><a href="#!" onclick="moveActive(event)">Inner-Fire</a></li>
                    <li class="waves-effect" id="train-card-4"><a href="#!" onclick="moveActive(event)">Pheonix-Fire</a></li>
                    <li class="waves-effect" id="train-card-4"><a href="#!" onclick="moveActive(event)">Dim-Mak</a></li>
                </ul>
                <div class="row truesight">
                    <h3>1 Discipline: Truesight</h3>
                    <p>By training their senses and awareness of the energies of chakra, the inward fist can detect things not seen by the physical eye alone.</p>
                </div>
                <div class="row levitation hidden">
                    <h3>4 Discipline: Levitation</h3>
                    <p>Through focus, determination and sheer inner will, the inward fist can lift themselves from the shackles of the earth.</p>
                </div>
                <div class="row roundhouse hidden">
                    <h3>5 Discipline: Roundhouse</h3>
                    <p>A simple but effective attack that can hit multiple enemies.</p>
                </div>
                <div class="row inner-fire hidden">
                    <h3>7 Discipline: Inner Fire</h3>
                    <p>By turning their focus inward and allowing their ki to flow through their body, the inward fist can burn away impurities in the body.</p>
                </div>
                <div class="row pheonix-fire hidden">
                    <h3>8 Discipline: Pheonix Fire</h3>
                    <p>The inward fist can train themselves to redirect their flow of ki, empowering their attacks at the cost of their speed.</p>
                </div>
                <div class="row dim-mak hidden">
                    <h3>9 Discipline: Dim-Mak</h3>
                    <p>Using their knowledge of Ki in all things, the inward fist can use their own energy to throw off the alignment of energy in others, essentially poisoning their energy.</p>
                </div>
                <div class="card-action">
                    <h4>Next point cost:</h4><span id="discipline-cost"></span>
                    <form action="" method="POST">
                        <button class="btn" type="submit" name="form-name" value="discipline">Train Discipline</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <canvas width="617" height="500" id="discipline-canvas" style="border:1px solid #000000;"></canvas>
        </div>
    </div>
    <section>
        <div class="row">
            <div class="m12 center-align">
                <form action="" method="POST">
                    <label for="char-bio">Edit Character Biography</label>
                    <input type="text" name="char-bio" value="{{ charactername.bio }}">
                    <button class="btn" type="submit" name="form-name" value="char-bio">Update bio</button>
                </form>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="m12 center-align">
                <h3>
                    To delete your character, type its name and click delete.
                </h3>
                <span id="delete-char"></span>
                <form action="" method="POST">
                    <input type="text" name="delete" required>
                    <button class="red btn" type="submit" name="form-name" value="delete">DELETE</button>
                </form>
            </div>
        </div>
    </section>
    {% endif %}
    <section>
        <div class="row">
            <div class="m12 center-align">
                <h3>Character Bio:</h3>
                <p>{{ charactername.charbio }}</p>
            </div>
        </div>
    </section>
{% else %}
<h2 class="center-align">This character was not found.</h2>
{% endif %}
    <script>
        var torso = "{{ charactername.torso }}"
        var hands = "{{ charactername.hands }}"
        var arms = "{{ charactername.arms }}"
        var legs = "{{ charactername.legs }}"
        var discipline = parseInt("{{ charactername.discipline }}")

        function calculateCost(number, iterations) {
            let initialValue = parseInt(number) + 1;
            let result = 0;
            for (let i = 0; i < iterations; i++) {
                result += Math.sqrt(initialValue) * 1500;
                initialValue++;
            }
            return Math.round(result);
        }
        
        console.log(discipline)
        document.getElementById("discipline-cost").innerHTML = (discipline + 1) * 500000
        
        //                                     Body Training Card Generator 
        //                                   ===============================
        // This is here to build the four training card tabs in the bodytraining frame. The two arrays contain the variables/strings.
        // This is needed to display experience cost per point, how many points they would like to train, and the total experience cost.
        // It is also what provides the number in the field read by Flask. The backend verifies whatever information is submitted to prevent
        // any bad faith POST attempts.

        bodyTraining = [torso, hands, arms, legs];      // Tied to the variables declared above, taken directly from the DB
        bodyString = ["torso", "hands", "arms", "legs"] // contains strings for navigating the DOM and buildings other strings
        for (let i = 0; i < bodyTraining.length; i++) { // A for loop for going through the arrays
            if (bodyTraining[i] >= 100) {               // If the body training is already at maximum, we tell the user and lock out the training
                document.getElementById("action-" + bodyString[i]).innerHTML = "<h3> Your " + bodyString[i] + " are trained to maximum </h3>" // The message
            } else {                                                                                                                            // Otherwise
            document.getElementById("cost-" + bodyString[i]).innerHTML = calculateCost(bodyTraining[i], 1)                                      // Set the cost field for the cost of the next point
            document.getElementById("train-" + bodyString[i]).addEventListener("click", function(){                                             // And listen for the click
                if (parseInt(bodyTraining[i]) + parseInt(document.getElementById("field-" + bodyString[i]).innerHTML) >= 100) {                 // Determine if the amount they are training would push them above maximum
                    document.getElementById("max-" + bodyString[i]).innerHTML = " Maximum level reached."                                       // And prevent them from further queuing trainings
                } else{
                    let current = parseInt(document.getElementById("field-" + bodyString[i]).innerHTML);  // This is the field that is read by Flask. It also displays how many points the player wants to train at a time
                    document.getElementById("field-" + bodyString[i]).innerHTML = parseInt(current) + 1;  // The field from a line above
                    document.getElementById("flask-" + bodyString[i]).value = parseInt(current) + 1;
                    let next = calculateCost(parseInt(bodyTraining[i]) + current + 1, 1);                                             // Adjust the cost field on click
                    document.getElementById("cost-" + bodyString[i]).innerHTML = next;                    // the field for the cost
                    let totalExperience = calculateCost(bodyTraining[i], current + 1);                    // Calculate how much the entire batch of points would cost
                    document.getElementById("total-" + bodyString[i]).innerHTML = totalExperience;        // And display to the user
                }
                })
            }
        }
        //                                  Move Active
        //                                 =============
        // This function responds to clicks on each of the tabs. It first hides the current tab, then
        //              displays the chosen tab. It also cycles the pictures.
        
        function moveActive() {
            parent = event.target.parentNode.parentNode.firstElementChild;
            while (parent){
                if (parent.className == "active") {
                    parent.className = "waves-effect"
                    let childText = parent.firstElementChild.innerHTML.toLowerCase()
                    let hideIt = document.getElementsByClassName(childText)
                    hideIt[0].style.display = "none"
                    hideIt[1].style.display = "none"
                } else {
                    parent = parent.nextElementSibling
                }
            }
            
            if (event.target.parentNode.className !== "active") {
                event.target.parentNode.className = "active"
                let childText = event.target.innerHTML.toLowerCase() 
                let showIt = document.getElementsByClassName(childText)
                showIt[0].style.display = "block"
                showIt[0].style.height = "100%"
                showIt[0].style.width = "100%"
                showIt[0].style["object-fit"] = "cover"
                showIt[1].style.display = "block"
            }
        }
    </script>
{% endblock %}