<!-- 
    This is where the real bulk of the project lies.
    Under the nav bar:
        A display of different characters and a prompt to create a new character.
    Under that: Relevant character stats:
        Average attacks per round, trained attacks
    On the left, an image of the character. Maybe a canvas of the character in animation for 
        part being highlighted for training.
    It will be a tab sort of thing, that displays info about the part being trained.
        It will show how much it has been trained already.
        It will also display the cost of training and a click to train button.
        No confirmation or anything. Just dumping it to the database.
        Four tabs: Body, Arms, Hands, Legs
    Below that, with an image on the right and a similar tab setup for the trainings for dim-mak etc.
    At the bottom, the ability to write a character biography

    Tie the characters to the user instead of the other way around
-->
{% extends "base.html" %}
{% block content %}
    
{% endblock %}