{% extends "base.html" %}
{% block content %}
{% if charactername.owner %}
    <head>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    </head>
    <h3 class="center-align light-blue-text text-darken-4">
        {{ charactername.name|capitalize }}
    </h3> 
    <section id="stats">
        <!-- FULL CHARACTER SHEET -->
        <div class="row">
            <!-- STAT BARS -->
            <div class="col s12 m6">
                <div class="row left-stat-column">
                    <!-- LEFT STAT COLUMN -->
                    <div class="col s12 m6 l6">
                        <div class="tooltip stat-circle">
                            <span class="tooltiptext"> Hit points keep track of how much damage your character can endure.</span>
                            <h6>HP</h6><p>{{ charactername.max_hp }}</p>
                        </div>
                        <div class="tooltip stat-circle">
                            <span class="tooltiptext">Ki is a measure of a Fist's ability to charge combos.</span>
                            <h6>Ki</h6><p> 30 </p>
                        </div>
                        <div class="tooltip stat-circle">
                            <span class="tooltiptext">Armor Class (AC) is a measure of how resilient a character is.</span>
                            <h6>AC</h6><p>{{ charactername.ac }}</p>
                        </div>
                        <div class="tooltip stat-circle">
                            <span class="tooltiptext">Damage (DMG) represents how damaging a character's attacks are, as a range.</span>
                            <h6>DMG</h6><p>{{ charactername.damage[0] }} - {{ (charactername.damage[1] + (charactername.hands / 5)) * charactername.damage[0] }}</p>
                        </div>
                        <div class="tooltip stat-circle">
                            <span class="tooltiptext">Current experience is a tally of experience currently available to spend on upgrades. (mil = millions, k = thousands)</span>
                            <h6>EXP</h6><p id="current-exp-string">{{ charactername.current_exp }}</p>
                        </div>
                    </div>
                    <!-- RIGHT STAT COLUMN -->
                    <div class="col s12 m6 l6">
                        <div class="tooltip stat-circle">
                            <span class="tooltiptext">Dodge represents how often a character negates an attack by Dodging.</span>
                            <h6>Dodge</h6><p>{{ charactername.dodge }}%</p>
                        </div>
                        <div class="tooltip stat-circle">
                            <span class="tooltiptext">Block represents how often a character negates an attack by Blocking.</span>
                            <h6>Block</h6><p>{{ charactername.block + ( charactername.arms / 10 ) }}%</p>
                        </div>
                        <div class="tooltip stat-circle">
                            <span class="tooltiptext">Parry represents how often a character negates an attack by Parrying.</span>
                            <h6>Parry</h6><p>{{ charactername.parry }}%</p>
                        </div>
                        <div class="tooltip stat-circle">
                            <span class="tooltiptext">Damage Resistance (DR) is a measure of how much damage is negated when the character is hit.</span>
                            <h6>DR</h6><p>{{ charactername.dr + ( charactername.torso / 10 ) }}%</p>
                        </div>
                        <div class="tooltip stat-circle">
                            <span class="tooltiptext">Spent experience is used as a measure of the total strength of your character. (mil = millions, k = thousands)</span>
                            <h6>Spent EXP</h6><p id="spent-exp-string">{{ charactername.spent_exp }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- RIGHT CHARACTER COLUMN -->
            <div class="col s12 m6">
                <div class="row">
                    <div class="char-right col s12 m12 l6">
                        <img id="current-icon" src="{{ url_for('static', filename = charactername.icon) }}" alt="">  
                        {% if session.user == charactername.owner %} 
                            <div id="hidden-menu">
                                <span id="icon-selection">
                                    <img src="../static/images/portrait-0.png" alt="">
                                    <img src="../static/images/portrait-1.png" alt="">
                                    <img src="../static/images/portrait-2.png" alt="">
                                    <img src="../static/images/portrait-3.png" alt="">
                                    <img src="../static/images/portrait-4.png" alt="">
                                    <img src="../static/images/portrait-5.png" alt="">
                                    <img src="../static/images/portrait-6.png" alt="">
                                </span>
                                <span id="hide-selection"> Nevermind </span>
                            </div>
                            <span id="new-icon">Select New Icon</span>
                        {% endif %}
                    </div>
                    <div class="char-left col s12 m12 l6">
                        <span><h5>Character Bio:</h5></span>
                        <p id="char-bio">{{ charactername.charbio }}</p>
                    </div>
                    <div class="char-bottom col m12">
                        <h4>Win/Loss Rate: {{ charactername.winloss }}</h4>          
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    {% if session.user == charactername.owner %}
    <div class="row">
        <div class="body-image col l12 xl6">
            <div class="torso-image">
                <img src="../static/images/training-torso.png" alt="">
            </div>
            <div class="arms-image hidden">
                <img src="../static/images/training-arms.png" alt="">
            </div>
            <div class="legs-image hidden">
                <img src="../static/images/training-legs.png" alt="">
            </div>
            <div class="hands-image hidden">
                <img src="../static/images/training-fist.png" alt="">
            </div>
        </div>
        <div class="col l12 xl6">
            <div class="card training-card training-card-height">
                <h3 class="center-align">Body Training</h3>
                <ul class="pagination center-align">
                    <li class="active" id="train-card-1"><a href="#!" onclick="moveActive(event)">Torso</a></li>
                    <li class="waves-effect" id="train-card-2"><a href="#!" onclick="moveActive(event)">Arms</a></li>
                    <li class="waves-effect" id="train-card-3"><a href="#!" onclick="moveActive(event)">Hands</a></li>
                    <li class="waves-effect" id="train-card-4"><a href="#!" onclick="moveActive(event)">Legs</a></li>
                </ul>

                <!-- torso tab -->
                <div class="row torso center-align">
                    <h3>Torso Training</h3>
                    <p>The inward fist's core can be rigorously trained and is key to withstanding attacks.</p>
                    <div id="action-torso">
                        <h5>Current level: {{ charactername.torso }}</h5>
                        <h5>Cost for next level:<span id="cost-torso"></span></h4>
                        <a class="btn-floating btn-large waves-effect waves-light red" id="train-torso"><i class="material-icons">add</i></a>
                        <h5>
                            <form method="POST">
                                <span id="field-torso">0</span>
                                <input type="text" class="hidden" name="flask-torso" id="flask-torso">                               
                                <button class="btn waves-effect waves-light" type="submit" name="form-name" value="torso">Train
                                    <i class="material-icons right"></i>
                                </button>
                            </form>
                            <span id="max-torso"></span>
                        </h5>
                        <h5>Total cost: <span id="total-torso">0</span></h5>
                    </div>
                </div>

                <!-- Hands tab -->
                <div class="row hands hidden center-align">
                    <h3>Hands Training</h3>
                    <p>The Inward Fist can train their hands to harden them, increasing the damage they can inflict.</p>
                    <div id="action-hands">
                        <h5>Current level: {{ charactername.hands }}</h5>
                        <h5>Cost for next level:<span id="cost-hands"></span></h4>
                        <a class="btn-floating btn-large waves-effect waves-light red" id="train-hands"><i class="material-icons">add</i></a>
                        <h5>
                            <form method="POST">
                                <span id="field-hands">0</span>
                                <input type="text" class="hidden" name="flask-hands" id="flask-hands">                               
                                <button class="btn waves-effect waves-light" type="submit" name="form-name" value="hands">Train
                                    <i class="material-icons right"></i>
                                </button>
                            </form>
                            <span id="max-hands"></span>
                        </h5>
                        <h5>Total cost: <span id="total-hands">0</span></h5>
                    </div>
                </div>

                <!-- Legs tab -->
                <div class="row legs hidden center-align">
                    <h3>Legs Training</h3>
                    <p>The inward fist's legs and feet can be trained for speed and power, increasing the power of their kicks.</p>
                    <div id="action-legs">
                        <h5>Current level: {{ charactername.legs }}</h5>
                        <h5>Cost for next level:<span id="cost-legs"></span></h4>
                        <a class="btn-floating btn-large waves-effect waves-light red" id="train-legs"><i class="material-icons">add</i></a>
                        <h5>
                            <form method="POST">
                                <span id="field-legs">0</span>
                                <input type="text" class="hidden" name="flask-legs" id="flask-legs">                               
                                <button class="btn waves-effect waves-light" type="submit" name="form-name" value="legs">Train
                                    <i class="material-icons right"></i>
                                </button>
                            </form>
                            <span id="max-legs"></span>
                        </h5>
                        <h5>Total cost: <span id="total-legs">0</span></h5>
                    </div>
                </div>

                <!-- arms tab -->
                <div class="row arms hidden center-align">
                    <h3>Arms Training</h3>
                    <p>The inward fist's arms can be trained for speed and power, allowing them to block attacks with increased alacrity.</p>
                    <div id="action-arms">
                        <h5>Current level: {{ charactername.arms }}</h5>
                        <h5>Cost for next level:<span id="cost-arms"></span></h4>
                        <a class="btn-floating btn-large waves-effect waves-light red" id="train-arms"><i class="material-icons">add</i></a>
                        <h5>
                            <form method="POST">
                                <span id="field-arms">0</span>
                                <input type="text" class="hidden" name="flask-arms" id="flask-arms">                               
                                <button class="btn waves-effect waves-light" type="submit" name="form-name" value="arms">Train
                                    <i class="material-icons right"></i>
                                </button>
                            </form>
                            <span id="max-arms"></span>
                        </h5>
                        <h5>Total cost: <span id="total-arms">0</span></h5>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col l12 xl6" id="discipline-text">
            <div class="card disc-card">
                <div class="row">
                    <h3>Disciplines</h3>
                    <p>
                        Through disciplining the mind and body, the inward fist gains access to specialized powers.
                        Disciplines must be gained in order through training the ten levels.
                    </p>
                    <label for="disc-bar" id="disc-label">{{ charactername.discipline }}/10</label>
                    <progress id="disc-bar" value="{{ charactername.discipline }}" max="10" style="width:85%;"></progress>
                    
                </div>
                <ul class="pagination center-align">
                    <li class="active" id="train-card-1"><a href="#!" onclick="moveActive(event)">Truesight</a></li>
                    <li class="waves-effect" id="train-card-2"><a href="#!" onclick="moveActive(event)">Levitation</a></li>
                    <li class="waves-effect" id="train-card-3"><a href="#!" onclick="moveActive(event)">Roundhouse</a></li>
                    <li class="waves-effect" id="train-card-4"><a href="#!" onclick="moveActive(event)">Inner-Fire</a></li>
                    <li class="waves-effect" id="train-card-4"><a href="#!" onclick="moveActive(event)">Pheonix-Fire</a></li>
                    <li class="waves-effect" id="train-card-4"><a href="#!" onclick="moveActive(event)">Dim-Mak</a></li>
                </ul>
                <div class="row truesight">
                    <h3>1 Discipline: Truesight</h3>
                    <p>By training their senses and awareness of the energies of chakra, the inward fist can detect things not seen by the physical eye alone.</p>
                </div>
                <div class="row levitation hidden">
                    <h3>4 Discipline: Levitation</h3>
                    <p>Through focus, determination and sheer inner will, the inward fist can lift themselves from the shackles of the earth.</p>
                </div>
                <div class="row roundhouse hidden">
                    <h3>5 Discipline: Roundhouse</h3>
                    <p>A simple but effective attack that can hit multiple enemies.</p>
                </div>
                <div class="row inner-fire hidden">
                    <h3>7 Discipline: Inner Fire</h3>
                    <p>By turning their focus inward and allowing their ki to flow through their body, the inward fist can burn away impurities in the body.</p>
                </div>
                <div class="row pheonix-fire hidden">
                    <h3>8 Discipline: Pheonix Fire</h3>
                    <p>The inward fist can train themselves to redirect their flow of ki, empowering their attacks at the cost of their speed.</p>
                </div>
                <div class="row dim-mak hidden">
                    <h3>9 Discipline: Dim-Mak</h3>
                    <p>Using their knowledge of Ki in all things, the inward fist can use their own energy to throw off the alignment of energy in others, essentially poisoning their energy.</p>
                </div>
                <div id="disc-card-action">
                    <h4>Next point cost: <span id="discipline-cost"></span></h4>
                    <form action="" method="POST">
                        <button class="btn" type="submit" name="form-name" value="discipline">Train Discipline</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="body-image col l12 xl6" id="discipline-img">
            <div class="truesight-image">
                <img src="../static/images/discipline-truesight.png" alt="">
            </div>
            <div class="levitation-image hidden">
                <img src="../static/images/discipline-levitation.png" alt="">
            </div>
            <div class="roundhouse-image hidden">
                <img src="../static/images/discipline-roundhouse.png" alt="">
            </div>
            <div class="inner-fire-image hidden">
                <img src="../static/images/discipline-innerfire.png" alt="">
            </div>
            <div class="pheonix-fire-image hidden">
                <img src="../static/images/discipline-pheonixfire.png" alt="">
            </div>
            <div class="dim-mak-image hidden">
                <img src="../static/images/discipline-dimmak.png" alt="">
            </div>
        </div>
    </div>
    <section>
        <div class="row" id="edit-bio">
            <div class="m12 center-align">
                <form action="" method="POST">
                    <label for="char-bio">Edit Character Biography</label>
                    <input type="text" name="char-bio" value="{{ charactername.charbio }}">
                    <button class="btn" type="submit" name="form-name" value="char-bio">Update bio</button>
                </form>
            </div>
        </div>
    </section>
    <section>
        <div class="row" id="delete-char-btn">
            <div class="m12 center-align">
                <button class="red btn" type="submit" name="form-name" value="delete">I want to delete my character</button>
            </div>
        </div>
        <div class="row" id="delete-char-row">
            <div class="m12 center-align">
                <h3 id="delete-h3">
                    To delete your character, type its name and click delete.
                </h3>
                <span id="delete-char"></span>
                <form action="" method="POST">
                    <input type="text" name="delete" required>
                    <button class="red btn" type="submit" name="form-name" value="delete">DELETE</button>
                </form>
            </div>
        </div>
    </section>
    {% endif %}
{% else %}
<h2 class="center-align">This character was not found.</h2>
{% endif %}
    <script>
        var torso = "{{ charactername.torso }}";
        var hands = "{{ charactername.hands }}";
        var arms = "{{ charactername.arms }}";
        var legs = "{{ charactername.legs }}";
        var discipline = parseInt("{{ charactername.discipline }}");
        var characterName = "{{ charactername.name }}";
    </script>
    <script src="/static/js/character.js"></script>
    {% if session.user == charactername.owner %} 
        <script src="/static/js/character-user.js"></script>
    {% endif %}
{% endblock %}