<!--
    Just a store of information about how the game works simply. We'll make it look like docs.
-->
{% extends "base.html" %}
{% block content %}
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-target="library-sidenav" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="{{ url_for('general') }}">General Info</a></li>
                <li><a href="{{ url_for('chi_xin') }}">Chi-Xin Shaman</a></li>
                <li><a href="{{ url_for('inward_fist') }}">Inward Fist</a></li>
                <li><a href="{{ url_for('outward_fist') }}">Outward Fist</a></li>
                <li><a href="{{ url_for('sorcerer') }}">Sorcerer</a></li>
            </ul>
        </div>
    </nav>  
    <ul class="sidenav" id="library-sidenav">
        <li><a href="{{ url_for('general') }}">General Info</a></li>
        <li><a href="{{ url_for('chi_xin') }}">Chi-Xin Shaman</a></li>
        <li><a href="{{ url_for('inward_fist') }}">Inward Fist</a></li>
        <li><a href="{{ url_for('outward_fist') }}">Outward Fist</a></li>
        <li><a href="{{ url_for('sorcerer') }}">Sorcerer</a></li>
      </ul>
    <div class="scrollable">
        {% block information %}
        {% endblock %}
    </div>
{% endblock %}