{% extends "base.html" %}
{% block content %}
    <head>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
        <script src="{{ url_for('static', filename='js/phaser.js') }}"></script>
        <script src="{{ url_for('static', filename='js/char-select.js') }}"></script>
        <script src="{{ url_for('static', filename='js/play.js') }}"></script>
        <script src="{{ url_for('static', filename='js/preloader.js') }}"></script>
        <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
        <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
    
                namespace = '/test';
                var socket = io(namespace);
    
                socket.on('disconnect', function() {
                    socket.emit('message', "bye now")
                })
            

                socket.on('connect', function() {
                    socket.emit('message', "Play.html connected");
                });
            });
            </script>

    </head>
{% endblock %}